<!DOCTYPE html>
<html lang="en">
<body>
    <header></header>
    <main class="container h-100">
        <div class="row cuadro">
        <div class="cuadro2">
        <div class="row" style="text-align:center; margin-top: 2.5rem; font-weight: bold;"> 
        <div class="col-12 align-self-center">Recuperar cuenta</div>    
        </div>
        <form>
        <div class="form-group row align-self-center" style="margin-top: 2rem;">
            <div class="col-12" style="text-align: center;">
            <input type="email" class="form-control" id="Correo" placeholder="Correo" style="border-radius: 2rem; width: 20rem; margin-left: 1rem; margin-right: 1rem;">
            <div class="col-12" style="margin-top: 2rem;">
            <button type="submit" class="btn btn-primary mb-2" style="width: 15rem;">Recuperar</button>
            </div>
            </div>
          </div>
        </form>
    </div>
    </div>
    </main>
    <footer></footer>
</body>
</html>
