<body class="container">
    <h3 class="my-2">Devoluciones</h3>
    <p class="p-4" style="color: black;">En softpet queremos que todos los clientes estén 100% satisfechos! Si por alguna razón no estás contento con tu producto, te facilitamos la devolución por medio de un proceso simple y gratuito: </p>
    <div class="card mb-3">
        <div class="card-header text-white bg-brown" >
          Política de devoluciones
        </div>
        <div class="card-body ">
          <blockquote class="blockquote mb-0">
            <p>Para cumplir las condiciones de devolución, el producto deberá ser: </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Devuelto en un plazo máximo de 7 días naturales posteriores a la entrega.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Se debe encontrar en la misma condición en que la recibiste.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Estar en la caja o empaque original.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. No estar abierto en el caso de que sea un producto consumible (comida, premios, etc.).</p>
          </blockquote>
        </div>
      </div>
</body>