<body>
    <header>
        <nav class="navbar navbar-light bg-light navbarspecs">
            <span class="navbar-brand mb-0 h1">Navbar</span>
        </nav>
        <nav class="navbar2specs">
            <span>Algunos datos</span>
        </nav>
    </header>
    
    <main class = 'container-fluid h-100 bg-dark pad0 d-flex align-items-center'>
        <div class="table">
            <div class="tcell bg-light">
                <div class="row">
                    <div class="col-12 bottomMargin">
                        <span class="d-flex justify-content-center">
                            Registro de Usuario
                        </span>
                    </div>
                </div>
                <div class="row ">
                    <div class=" col-sm-12 col-lg-5 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col-sm-12 col-lg-7 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Dirección">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-lg-5 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Apellido Paterno">
                    </div>
                    <div class="col-sm-12 col-lg-7 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Colonia">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-lg-5 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Apellido Materno">
                    </div>
                    <div class="col-sm-4 col-lg-3 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Ciudad">
                    </div>
                    <div class="col-sm-4 col-lg-2 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="Estado">
                    </div>
                    <div class="col-sm-4 col-lg-2 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="País">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-5 bottomMargin">
                        <input type="email" name="" id="" class="form-control" placeholder="Correo">
                    </div>
                    <div class="col-sm-3 col-lg-2 bottomMargin">
                        <input type="text" name="" id="" class="form-control" placeholder="C. P.">
                    </div>
                    <div class="col-sm-3 col-lg-5 bottomMargin">
                        <input type="tel" name="" id="" class="form-control" placeholder="Teléfono">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex flex-row-reverse">
                        <button type="button" class="btn btn-lg">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="footer p0 container-fluid">x</div>
</body>