
<ul class="nav flex-column h-100 card border-white shadow-sm rounded p-0 p-md-2">
    <li class="border-bottom p-0 p-md-3">
    </li>
    <li class="border-bottom">
        <a class="nav-link text-decoration-none" [routerLink]="['/profile-info']" routerLinkActive="router-link-active" ><img class="py-2" src="../../../../assets/images/profile.png">
            General
        </a>
    </li>
    <li class="border-bottom">
        <a class="nav-link text-decoration-none" [routerLink]="['/edit-profile']" routerLinkActive="router-link-active" ><img class="py-2" src="../../../../assets/images/settings.png">
            Ajustes
        </a>
    </li>
</ul>