<body class="bg-light">
        <section class="container">
            <div class="row">
                <section class="col-md-12 card border-white shadow-sm p-3 mt-5">
                    <app-profile></app-profile>
                </section>
            </div>
            
            
            <div class="row">
              <aside class="pr-md-3 p-0 col-sm-12 col-md-3 mt-3 mt-md-3 mb-md-5">
                <app-profile-sidebar></app-profile-sidebar>
              </aside>
                <div class="card border-white shadow-sm p-3 my-5  mt-md-3 rounded-lg col-sm-12 col-md-9 mt-3 mb-4">
                    <header class=" pt-2 pb-1 border-bottom">
                        <h2 class="p-1">Información General</h2>
                    </header>
                    <p class="font-weight-bold">Dirección</p>
                    <p class="font-weight-bold">Colonia</p> 
                    <p class="font-weight-bold">Ciudad</p> 
                    <p class="font-weight-bold">Estado</p>
                    <p class="font-weight-bold">País</p>
                    <p class="font-weight-bold">Codigo Postal</p>
                    <p class="font-weight-bold">Telefono</p>
                </div>
            </div>
        </section>
</body>
