<footer>
        <div class="container">
            <div class="row  justify-content-center p-4">
                <div class="col-lg-4 col-12 altura_footer">
                    <div class="encabezado_footer">
                        Acerca de nosotros
                    </div>
                    <div class="item_footer ">
                        <a href="#"> Misión</a>
                    </div>
                    <div class="item_footer">
                        <a href="#"> Visión</a>
                    </div>
                    <div class="item_footer">
                        <a href="#"> Valores</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 altura_footer">
                    <div class="encabezado_footer">
                        Políticas
                    </div>
                    <div class="item_footer">
                        <a href="#"> Devoluciones</a>
                    </div>
                    <div class="item_footer">
                        <a href="">Pagos</a>
                    </div>
                    <div class="item_footer">
                        <a href=""> Envíos y Entregas</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 altura_footer">
                    <div class="encabezado_footer">
                        Contacto
                    </div>
                    <div class="item_footer">
                        MTY_NL_MEX
                    </div>
                    <div class="item_footer">
                        TIENDA@SOFTPET.COM
                    </div>
                    <div class="item_footer">
                        (8112555875)
                    </div>

                </div>
            </div>
        </div>
    </footer>