<div class="shopping-cart">
    <div class="block-content">
      <div class="cart_block_list">
        <p class="recent_items " style>Hay
          <span class="ajax_cart_quantity">1</span>
          <span>item(s)</span> " en el carrito de compras"
        </p>
        <p class="cart_block_no_products unvisible" style> No hay productos en el carrito de compras</p>
        <div class="list-products">
          <div>
            <div style="position: relative; left: 0px; top: 0px;" dir="ltr">
              <dl class="products ">
                <dt class="first_item last_item">
                  <a class="cart-images" href="" title="comida-perros">
                    <img src="img/comida-perros.jpg" alt="" class="mCS_img_loaded">
                  </a>
                  <div class="cart-info">
                    <div class="product-name">
                      <a class="cart_block_product_name" href="" title="">Alimento para Perros, marca Dog Chow. </a>
                    </div>
                    <span class="price"> $ 139.00 </span>
                    <!--<span class="quantity-formated">Cant.
                                    <span class="quantity">1</span>
                                </span>-->
                    <div id="quantity_wanted_p">
                      <div class="qty">
                        <a href="#" data-field-qty="qty" class="button-minus product_quantity_down">
                          <span><i class="fas fa-minus"></i></span>
                        </a>
                        <div class="qty_buttons">
                          <input type="text" name="qty" id="quantity_wanted" class="text" value="1" style="
                                            border: 1px solid rgb(189, 194, 201);
                                          " />
                        </div>
                        <a href="#" data-field-qty="qty" class="button-plus product_quantity_up">
                          <span><i class="fa fa-plus"></i></span>
                        </a>
                      </div>
                    </div>


                  </div>
                  <span class="remove_link">
                    <a class="ajax_cart_block_remove_link" href="" rel="nofollow" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </dt>
                <dd class="first_item"></dd>
              </dl>
            </div>
            <div style="display: none;">
              <div class="mCSB_draggerContainer">
                <div>
                  <div></div>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-prices">
          <div class="price-total">
            <span class="price_text">Total: </span>
            <span class="price cart_block_total ajax_block_products_total">$ 139.00</span>
          </div>
          <div class="buttons">
            <a id="button_goto_cart" class="btn btn-lg btn-block" href="carrito.html" title="Ver carrito de compras"
              rel="nofollow" style="float: right;"> Comprar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
