<body>
    <main class = 'h-100 bg-light pad0 p-md-5 d-flex justify-content-center'>
        <section class="container bgs1">
            <div class="text-center m-3">
                <div class="row d-flex justify-content-center">
                <div class="tcell  bg-white w-50 shadow-sm r m-3 p-3 p-md-4 m-md-5">
                    <div class="row">
                        <div class="col-12 bottomMargin">
                            <span class="d-flex justify-content-center">
                                Cambiar Contraseña
                            </span>
                        </div>
                    </div>
                    <form >
                        <div class="row">
                            <div class="col-sm-12 bottomMargin">
                                <input type="password" 
                                        name="contrasena" 
                                        id="contrasena"
                                        [(ngModel)]="contrasena"
                                        class="form-control" 
                                        placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex flex-md-row-reverse ">
                                <button type="submit" class="btn btn-lg mx-auto mx-md-0 m-2">Recuperar</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </section>
    </main>
</body>
